.modal__item-container {
  min-block-size: fit-content;
  background-color: #ffff;
  border-radius: 20px;
  max-width: 496px;
  max-height: 610px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.modal__delete-btn {
  color: red;
}

.modal__delete-btn_hidden {
  visibility: hidden;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-self: center;
}

.modal .modal__footer {
  padding: 20px 0 32px 32px;
  display: flex;
  justify-content: space-between;
}
